body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(206, 206, 206)
}

div.calendarContainer{
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
   

}

h2{
    font-size: 20px;
    padding: 10px;
    padding-bottom: 0;
}

table{

    text-align: center;
}

td.current{
    color:antiquewhite;
    outline: 10px;
    outline-color: black;
    font-weight: bolder;
}

td.sundayCurrent{
    color:rgb(228, 91, 91);
    font-weight:bold;
}

td.sundayOther{
    color:rgba(228, 169, 91, 0.486);
    font-weight: bolder;
}

td{
    color:rgba(206, 206, 206, 0.438);
    width: 50px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}

td:hover{
    font-size : 120%;
    color:rgb(240, 240, 240);
    font-weight: bold;
    outline: 1px;
    outline-color: rgba(0, 0, 0, 0.288);
    outline-style: groove;
    outline-offset: -3px;
    border-radius: 50%;
    border-width: 10px;
    background-color: rgb(102, 102, 102);
}


th{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font : bold;
    color:  rgb(197, 195, 195);
}



select, input{
    background-color: rgb(104, 104, 104);
    color:antiquewhite;
    border-style: none;
    border-radius: 5px;
}








