
div.calendarContainer{
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}


table{
    width: 300px;
}
td.current{
    color:antiquewhite;
    outline: 10px;
    outline-color: black;
    font-weight: bolder;
}

td.sundayCurrent{
    color:rgb(228, 91, 91);
    font-weight:bold;
}

td.sundayOther{
    color: rgba(228, 91, 91, 0.5);
    font-weight: bolder;
}

td.day, th{
    border-radius: 50%;
}

td.day:hover{
    background-color: azure;
}


th{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font : bold;
    color:  rgb(197, 195, 195);
}







