
.calendarTarget{
    overflow-x: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
}

.calendarContainer{

    border-radius: 10px;
    background-color: rgb(54, 54, 54);

    width: fit-content;
    height: fit-content;
    padding: 5px; /* space between each sheet*/
}

.calendarHeader{
    padding: 0;
    margin: 0;
    padding-left: 12px;
}

.calendarSheet{
    width: 30px;
    height: 30px;
    padding: 12px; /* space between sheet and border*/
}
td.current{
    color:antiquewhite;
    outline: 10px;
    outline-color: black;
    font-weight: bolder;
}

td.sundayCurrent{
    color:rgb(228, 91, 91);
    font-weight:bold;
}

td.sundayOther{
    color: rgba(228, 91, 91, 0.5);
    font-weight: bolder;
}

.dateContainer{
    border-radius: 50%;
    width: 20px;
    height: 20px;

    margin: auto;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

td.day, th{
    margin: 0;
    padding: 0;
    font-size: 100%;

    /* border-style: solid; /**/

}

.dateContainer:hover{
   box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
}


th{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font : bold;
    color:  rgb(197, 195, 195);
}







