table{
    background-color: rgb(104, 104, 104);
    border-radius: 10px;
}


td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;
}

th{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font : bold;
}