body{
  background-color: rgb(34, 34, 36);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  color:rgb(175, 171, 171);
  
  padding: 0;
  margin: 0;
  display:grid;
}

#p1{
  border: 1px;
  border-style:ridge;
  border-top:0;
  border-left:0;
  border-right:0;
  border-color: green;
  font-size: 75%;
}

div.listContainer{
  font-size: 12px;
  padding-left: 10px;
}

h2.listHead{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:antiquewhite;
}


li{
  padding-left: 10px;
  font-size: 15px;
  color: rgb(175, 171, 171);
}

#topFrame{
  width: 100%;
  margin: 0;
  padding: 0;
  border-style:none;
  border-bottom-style: groove;
  background-color: rgb(31, 31, 31);
  border-color: rgb(51, 51, 51);
  border-width: 2px;
}

#calendarFrame{
  top: 30px;
  left: 30px;
  height:500px;
  width: 500px;
}
