body{
  background-color: rgb(34, 34, 36);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  color:rgb(175, 171, 171);
  
  padding-left: 10px;
  
}

p{
  border: 1px;
  border-style:ridge;
  border-top:0;
  border-left:0;
  border-right:0;
  border-color: red;
  font-size: 75%;
}

div.listContainer{
  font-size: 12px;
  padding-left: 10px;
}

h2.listHead{
  font-size: 20px;
  color:antiquewhite;
}


li{
  padding-left: 10px;
  font-size: 15px;
  color: rgb(175, 171, 171);
}


iframe{
  top: 30px;
  left: 30px;
  height:500px;
  width: 500px;
}
