body{
  background-color: rgb(34, 34, 36);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  color:rgb(175, 171, 171);
  
  padding: 0;
  margin: 0;
  display:grid;
}


#topFrame{
  width: 100%;
  margin: 0;
  padding: 0;
  border-style:none;
  border-bottom-style: groove;
  background-color: rgb(31, 31, 31);
  border-color: rgb(51, 51, 51);
  border-width: 2px;
}
