
.calendarTarget{
    overflow-x: auto;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 999;
    width: fit-content;
    height: fit-content;
}

.calendarContainer{

    border-radius: 10px;
    background-color: rgb(54, 54, 54);

    width: fit-content;
    height: fit-content;
    padding: 5px; /* space between each sheet*/
    margin: auto;
    display: grid;

}

.calendarTitle{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: center;
    /*
    border-style: solid;
    /**/

}

.calendarSheet{
    width: 300px;
    height: 200px;
    padding: 0;
    margin: 0;

    /*
    border-style: solid;
    /**/
}
td.day, th{
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 20px;
    height: 20px;

    /* border-style: solid; /**/

}
th{
    font : bold;
    color:  rgb(197, 195, 195);
}

td.weekday.current{
    color: antiquewhite;
}

td.sunday.current{
    color: red;
    font-weight:bold;
}

td.weekday.other{
    
    color: rgba(250, 235, 215, 0.3);
}

td.sunday.other{
    color: rgba(255, 0, 0, 0.3);
}


.dateContainer{
    border-radius: 50%;

    width: 30px;
    height: 30px;
    margin: auto;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.dateContainer:hover{
    box-sizing: border-box;

    border-style: solid;
    border-width: 1px;
}









