:root {
    --pixel-Size: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 35px;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url('../assets/images/scrollbar/track/scrollbar_track.png');
    background-repeat: no-repeat;
    background-size: 35px 100%;
    overflow: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background-image:
        url('../assets/images/scrollbar/handle/scroll_handle_top.png'),
        url('../assets/images/scrollbar/handle/scroll_handle_center.png'),
        url('../assets/images/scrollbar/handle/scroll_handle_bottom.png');
    background-repeat: no-repeat;
    background-position: top, center, bottom;
    background-size: auto, 100% calc(100% - 30px), auto;

}

ul {
    list-style-type: square;
}

input,
button {
    font-family: 'minecraftia', sans-serif;
}

html,
body {
    font-family: 'minecraftia', sans-serif;
    font-size: 12px;
}

body {
    background-image: url("../assets/images/b_boardBackground.png");
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

main>* {
    min-height: 80px;
    grid-column: 1 / 3;
    padding-bottom: 25px;

    background-image:
        url("../assets/images/sticky_note/note_TL.png"),
        url("../assets/images/sticky_note/note_TC.png"),
        url("../assets/images/sticky_note/note_TR.png"),

        url("../assets/images/sticky_note/note_CL.png"),
        url("../assets/images/sticky_note/note_CC.png"),
        url("../assets/images/sticky_note/note_CR.png"),

        url("../assets/images/sticky_note/note_BL.png"),
        url("../assets/images/sticky_note/note_BC.png"),
        url("../assets/images/sticky_note/note_BR.png");

    background-repeat: no-repeat;

    background-position:
        left top, center top, right top,
        left center, center center, right center,
        left bottom, center bottom, right bottom;

    background-size:
        auto, calc(100% - 85px) 46px, auto,
        46px calc(100% - 90px), calc(100% - 90px) calc(100% - 90px), 46px calc(100% - 90px),
        auto, calc(100% - 85px) 46px, auto;
    font-size: large;
}




#title_area {
    width: 100%;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#date_title {
    text-align: center;
    align-content: center;
    color: brown;
    font-weight: 900;
}

#holiday_display {
    margin-bottom: 30px;
}

#new_schedule_section {
    height: fit-content;
    grid-row: 3;
    grid-column: 1;
    padding: 5px;
    align-items: center;
}

/**/
#note_section {

    height: fit-content;
    grid-row: 4;
    /* grid-column: 1; */
    padding-top: 5px;
}

h3 {
    min-height: 50px;
    background-color: black;
    color: white;
    font-size: 150%;
    margin: 0 !important;
    padding-left: 10px;
}

h3:hover {
    color: brown;
}

.line-through {
    text-decoration: line-through;
    text-decoration-color: brown;
    text-decoration-thickness: 5px;
}

#noteList {
    height: fit-content;
    min-height: 300px;
    padding: 5px;
    list-style: none;

    margin: 0;
    margin-left: 5px;

}

.noteLine {
    font-size: 15px;
    border-bottom: solid black 5px;
    margin-top: 15px;
}

#noteInputLine {
    margin: 0;
    padding: 0px;

    width: 95%;


}

#noteInputDiv {
    /* padding: 5px; */
    padding: 0;
    display: flex;

    justify-content: space-between;

}

#noteInputField,
#noteInputField:focus {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;

    font-family: 'Minecraftia', sans-serif;
    font-size: 25px;

    background: none;
    outline: none;
    border: none;
    resize: none;

    box-sizing: content-box;
    align-content: end;
    /* outline: dotted red; */

}

#addNoteButton {
    font-family: 'Minecraftia', sans-serif;
    font-size: 20px;
    background: none;
    border: none
}

#day_scroll_flex {

    margin: 0;
    position: absolute;
    bottom: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.day-scroll {
    width: 20px;
    height: 20px;
}