html, body{
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: 600;
    font-style: normal;
}



main{
    margin: 10px;;
    display: flex;
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
    /* border-style: solid; */

    position: relative;
    z-index: 1
}

.calendarTarget{
    overflow-x: auto;
    font-size: 200%;
    font-weight: 999;
    width: 50%;
    height: 100%;

    box-sizing: border-box;

    /* border : dotted red; */
}

.calendarTitle{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: center;
    /*
    border-style: solid;
    /**/

}

.calendarSheet{
    width: 100%;
    height: 100%;
    padding: 0 10px 70px 20px;
    margin: 0;

    
    background-image: 
    url("Calendar_BackGround/Calendar_Top_Left.png"),
    url("Calendar_BackGround/Calendar_Top_Center.png"),
    url("Calendar_BackGround/Calendar_Top_Right.png"),
    
    url("Calendar_BackGround/Calendar_Center_Left.png"),
    url("Calendar_BackGround/Calendar_Center_Center.png"),
    url("Calendar_BackGround/Calendar_Center_Right.png"),
    

    url("Calendar_BackGround/Calendar_Bottom_Left.png"),
    url("Calendar_BackGround/Calendar_Bottom_Center.png"),
    url("Calendar_BackGround/Calendar_Bottom_Right.png");

    background-position: 
    left top, center top, right top,
    
    left center,center center,right center,

    left bottom, center bottom, right bottom;

    background-size: 
    70px 70px,                  calc(100% - 140px)                      70px, 70px 70px,

    70px calc(100% - 140px),    calc(100% - 140px) calc(100% - 140px),    70px calc(100% - 140px),

    70px 70px,                  calc(100% - 140px) 70px,                70px 70px;

    background-repeat: no-repeat;

    /* border-style: solid; */
}


td.day, th{
    margin: 0;
    padding: 0;
    font-size: 90%;

    /* border-style: solid; */

}
th{
    font : bold;
    color:  rgb(0, 0, 0);
}

td.weekday.current{
    color: rgb(0, 0, 0);
}

td.sunday.current{
    color: red;
}

td.weekday.other{
    
    color: rgba(37, 37, 37, 0.6);
}

td.sunday.other{
    color: rgba(255, 0, 0, 0.6);
}


.dateContainer{

    width: 40px;
    height: 40px;
    margin: auto;
    padding: 10px;

    font-size: 80%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.dateContainer:hover{
    box-sizing: border-box;

    border-style: dashed;
    border-width: 5px;

    border-color: black;
}

/* Day Section */
.daySection{
    width: 50%;

    height: 100%;
    min-height: 100%;
    padding: 5px;
    font-size : 100%;

    background-color: rgba(0, 255, 255, 0.315);

    box-sizing: border-box;
    border-radius: 10px;
}
#dayTitle{
    box-sizing: border-box;
    width: 100%;

    padding: 0;
    margin: 0 0 0 0;

    font-size: 150%;

    border: dotted 1px red;
}

/* Notes*/

#noteSection{

    padding-left: 20px;
    padding-top: 0;
    border-left:solid;
    
    border: dotted, rgb(205, 125, 50), 2px
}

#notesTitle{
    margin-top: 0;

    font-size: 100%;
}

#noteList{

    padding: 0;
    width: 100%;
}
#noteList li{

    list-style: none;
    box-sizing: border-box;
    overflow-wrap: break-word;
    width: 100%;
    align-content: center;

    font-size: 100%;
    
    color: aliceblue;
    
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-radius: 5px;
    /* border:dotted, green;  */
}


.noteDisplay{

    padding: 10px 0px 10px 5px;
    /* border: dotted, 1px, orangered; */
}
#noteInputLine{
    /* border: dotted, red; */
}

#noteInputDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#noteInputField{
    width: 80%;
    height:auto;
    resize: none;
    overflow: hidden;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 100%;

    align-content:center;
    color: aliceblue;

    background: none;
    border:none
    /* border: dotted 2px blue; */
}

#noteInputField:focus{
    outline: none;
}

#addNoteButton{
    font-size : 200%;
    text-align: center;


    color:antiquewhite;
    background: none;
    border: none
    /* border: dotted 2px blue; */
}


