
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    
    margin: 0;
    height: fit-content;
    width: 100%;
    display: flex;
}

h1{
    font-size: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color:antiquewhite
}

svg{
    margin-top: 2px;
}

#menuButton{
    background: none;
    border-width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}