
html, body{

    font-family: 'Minecraftia', sans-serif;
                                                
    overflow-y: hidden;
    padding: 0;
    margin:0;
}

main{
    width: 200dvw;
    height: 100%;
    padding: 0;

    overflow: hidden;

    position: absolute;
    left: /*-100dvw;*/ 0;

    transition: transform .5s;

    display: flex;
    justify-content: space-between;
}

#calendar_target{
    max-width: 50%;
    max-Height: 100%;

    width: 300px;
    height:300px;

    background-image: 
    url("../assets/images/calendar_background/Calendar_Top_Left.png"),
    url("../assets/images/calendar_background/Calendar_Top_Center.png"),
    url("../assets/images/calendar_background/Calendar_Top_Right.png"),

    url("../assets/images/calendar_background/Calendar_Center_Left.png"),
    url("../assets/images/calendar_background/Calendar_Center_Center.png"),
    url("../assets/images/calendar_background/Calendar_Center_Right.png"),

    url("../assets/images/calendar_background/Calendar_Bottom_Left.png"),
    url("../assets/images/calendar_background/Calendar_Bottom_Center.png"),
    url("../assets/images/calendar_background/Calendar_Bottom_Right.png");

    background-repeat: no-repeat;
    background-position: 
    left top, center top, right top,
    left center, center center, right center,
    left bottom, center bottom, right bottom;

    background-size: 
    auto, calc(100% - 140px) 70px, auto,
    70px calc(100% - 140px), calc(100% - 140px) calc(100% - 140px), 70px calc(100% - 140px),
    auto, calc(100% - 140px) 70px, auto;
    /* z-index: -1; */
    align-items: center;
    justify-items: center;
}

.calendar_sheet{
    
    width: fit-content;
    height: fit-content;

}

#frameHolder{
    
    
    width: calc(50% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
    margin: 0;


    background-image: 
    url("../assets/images/b_board_frame/b_board_frame_TL.png"),
    url("../assets/images/b_board_frame/b_board_frame_TC.png"),
    url("../assets/images/b_board_frame/b_board_frame_TR.png"),

    url("../assets/images/b_board_frame/b_board_frame_CL.png"),
    url("../assets/images/b_board_frame/b_board_frame_CR.png"),

    url("../assets/images/b_board_frame/b_board_frame_BL.png"),
    url("../assets/images/b_board_frame/b_board_frame_BC.png"),
    url("../assets/images/b_board_frame/b_board_frame_BR.png")
    ;

    background-color: rgb(66, 66, 66);

    background-position: 
    left top, center top, right top,
    left center, right center,
    left bottom, center bottom, right bottom;

    background-size:
    50px, calc(100% - 100px) 50px, 50px,
    50px calc(100% - 100px), 50px calc(100% - 100px),
    50px, calc(100% - 100px) 50px, 50px;

/*     
    50px, calc(100% - 100px) 50px, 50px,
    50px calc(100% - 100px), 50px calc(100% - 100px),
    50px, calc(100% - 100px) 50px, 50px; */

    

    background-repeat: no-repeat;


}

iframe{
    height: 100%;
    width: 100%;
    border: none;
}